<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h1>
<%= @game.player_1.name %> HP: <%= @game.player_1.hit_points %>
<%= @game.player_2.name %> HP: <%= @game.player_2.hit_points %>
<form action="/attack">
  <input type="submit" value="Attack">
</form>